<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycled Solitair</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>
  <nav>
    <p>home</p>
    <p>about</p>
    <p>login</p>
    <p>logout</p>
    <p>register</p>
  </nav>
<footer>
        <p>&copy; 2025 Recycled Solitair. All rights reserved.</p>
</footer>
          
<script src="script.js"></script>
  
</body>    
</html>
